.container p{
    height: 2rem;
    background: slateblue;
    margin-bottom: 0.2rem;
}
header{
    background: violet;
}
footer{
    background: sandybrown;
}
footer ul li,
header ul li{
    padding: 0.3rem 0;
    text-align: center;
}


