.container p{
    height: 2rem;
    background: slateblue;
    margin-bottom: 0.2rem;
}
header{
    background: violet;
}
footer{
    background: sandybrown;
}
footer ul li,
header ul li{
    padding: 0.3rem 0;
    text-align: center;
}
.container{
    -webkit-transform: translate(0,-40px);
    transform:translate(0,-40px)
}
.pull{
    width: 100%;
    height: 40px;
    background: yellowgreen;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}
